# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Create markdown cell with title of the notebook
* List popular languages for Data Science
* List popular libraries for Data Science
* Create a code cell to perform arithematic operations.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. Java
6. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. ggplot
4. Scipy
5. Seaborn

|------------------|
|Data Science Tools|
|Jupyter Notebooks|
|RStudio|
|Apache Spark|
|TensorFlow|

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Dawood S A Siddiqui